﻿@model Parser.Data.ProductShop

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ProductShop</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductId" class="control-label">Продукт</label>
                <select asp-for="ProductId" class ="form-control" asp-items="ViewBag.ProductId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ShopId" class="control-label">Магазин</label>
                <select asp-for="ShopId" class ="form-control" asp-items="ViewBag.ShopId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Link" class="control-label">Ссылка</label>
                <input asp-for="Link" class="form-control" />
                <span asp-validation-for="Link" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
